<div class="rule-box" id="{{unbound id}}">

    <div class="rule-if">if</div>

    <a class="rule-button metric ui-btn ui-btn-c ui-corner-all" {{action "openMetricPopup" target="view"}}>
        {{metric}}
    </a>

    <a class="rule-button operator ui-btn ui-corner-all" {{action "openOperatorPopup" target="view"}}>
        {{operator.symbol}}
    </a>

    <div class="rule-unit">{{unit}}</div>

    <input type="number" class="rule-value" min="0" data-type="range" data-highlight="true"
        {{bindAttr value="value"}} {{bindAttr max="maxValue"}}/>

    <div class="rule-then">then</div>

    <a class="rule-button action ui-btn ui-corner-all" {{action "openActionPopup" target="view"}}>
        {{actionToTake}}
    </a>

    {{#if pendingAction}}
        <div class="ajax-loader"></div>
    {{else}}
        <div class="delete-rule-container">
            <a class="delete-rule-button ui-btn ui-corner-all ui-btn-icon-notext ui-icon-delete"
               {{action deleteRuleClicked target="view"}}>&nbsp;</a>
        </div>
    {{/if}}

</div>
